/* Styles go here */

#credits_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 20px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#secretary_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 56px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#company_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 92px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#typewriter_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 128px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#content {
  font-family: Helvetica;
  position: absolute;
  top: 250px;
  left: 10px;
}

#donate {
  font-family: Helvetica;
  position: fixed;
  bottom: 18px;
  left: 10px;
}

.button {
  text-decoration: none;
  color: #464646;
  font-family: Helvetica;
  border: 2px solid black;
  padding: 5px;
  background: #E8E8EA;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.button:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.button:active {
  -webkit-transform: scale(1);
  transform: scale(1);
}