/* Styles go here */

#credits_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 10px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#secretary_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 46px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#company_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 82px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#typewriter_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 350px;
  top: 118px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#content {
  font-family: Helvetica;
  position: absolute;
  top: 18px;
  left: 10px;
}

#donate {
  font-family: Helvetica;
  position: fixed;
  bottom: 18px;
  left: 10px;
}

.button {
  border: 2px solid black;
  text-decoration: none;
  font-family: Helvetica;
  color: #464646;
  padding: 5px;
  background-color: #E8E8EA;
}