/* Styles go here */
#CPS_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 400px;
  top: 46px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: lightgreen;
}

#credits_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 400px;
  top: 10px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: lightgreen;
}

#secretary_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 400px;
  top: 166px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#company_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 400px;
  top: 220px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#typewriter_box {
  width: 200px;
  font-family: Helvetica;
  position: fixed;
  left: 400px;
  top: 280px;
  border: 2px solid black;
  padding: 5px;
  float: left;
  background-color: #99CCFF;
}

#content {
  font-family: Helvetica;
  position: absolute;
  top: 10px;
  left: 10px;
}

#donate {
  font-family: Helvetica;
  position: fixed;
  bottom: 18px;
  left: 10px;
}

#credits-button {
  position: fixed;
  left: 10px;
  top: 130px;
  float: left;
  background-color: #99CCFF;
}

#secretary-button {
  position: fixed;
  left: 10px;
  top: 166px;
  float: left;
}

#company-button {
  position: fixed;
  left: 10px;
  top: 220px;
  float: left;
}

#typewriter-button {
  position: fixed;
  left: 10px;
  top: 280px;
  float: left;
}

#secretaryUpgrade-button {
  position: fixed;
  left: 10px;
  top: 320px;
  float: left;
}

#companyUpgrade-button {
  position: fixed;
  left: 10px;
  top: 360px;
  float: left;
}

#reset-button {
  position: fixed;
  left: 10px;
  top: 400px;
  float: left;
}

.button {
  width: 370px;
  text-decoration: none;
  color: #464646;
  font-family: Helvetica;
  border: 2px solid black;
  padding: 5px;
  background: #E8E8EA;
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform, background-color ease;
  -moz-transition-property: transform, background-color ease;
  -o-transition-property: transform, background-color ease;
  transition-property: transform, background-color ease;
}

.button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  background-color: #FF99FF;
}

.button:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}